In [2]:
import scipy.stats as stats
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path

%load_ext autoreload
%autoreload 2

%matplotlib inline

In [8]:
s = '\'Sunny\''
print(s)

'Sunny'

In [13]:
print(s.strip('\''))

Sunny

In [15]:
def strip_text(inp_txt:str) -> str:
    return inp_txt.strip().strip('\'') if inp_txt else inp_txt

In [17]:
df = pd.read_csv('../data/naive_bayes/golf.csv',converters={
    'outlook':strip_text,
    'temp':strip_text,
    'humidity':strip_text,
    'wind':strip_text,
    'label':strip_text
})

In [18]:
df

     outlook  temp humidity    wind label
0      Sunny   Hot     High    Weak    No
1      Sunny   Hot     High  Strong    No
2   Overcast   Hot     High    Weak   Yes
3       Rain  Mild     High    Weak   Yes
4       Rain  Cool   Normal    Weak   Yes
5       Rain  Cool   Normal  Strong    No
6   Overcast  Cool   Normal  Strong   Yes
7      Sunny  Mild     High    Weak    No
8      Sunny  Cool   Normal    Weak   Yes
9       Rain  Mild   Normal    Weak   Yes
10     Sunny  Mild   Normal  Strong   Yes
11  Overcast  Mild     High  Strong   Yes
12  Overcast   Hot   Normal    Weak   Yes
13      Rain  Mild     High  Strong    No

In [30]:
label = df['label']
label

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: label, dtype: object

In [47]:
def sdf(s):
    print(s)
    return 'Yes'

In [53]:
label.values

array(['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'No'], dtype=object)

In [55]:
label.groupby(label).count()

label
No     5
Yes    9
Name: label, dtype: int64

In [42]:
label_gr.to_dict()

{'No': 5, 'Yes': 9}

In [26]:
df['label']

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: label, dtype: object