In [1]:
import scipy.stats as stats
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
def text_formater(inp_txt):
    if inp_txt:
        return inp_txt.strip().strip('\'')
    return inp_txt

In [3]:
df = pd.read_csv('../data/naive_bayes/golf.csv',converters={
    'outlook':text_formater,
    'temp':text_formater,
    'humidity':text_formater,
    'wind':text_formater,
    'label':text_formater
})

In [64]:
df

     outlook  temp humidity    wind label
0      Sunny   Hot     High    Weak    No
1      Sunny   Hot     High  Strong    No
2   Overcast   Hot     High    Weak   Yes
3       Rain  Mild     High    Weak   Yes
4       Rain  Cool   Normal    Weak   Yes
5       Rain  Cool   Normal  Strong    No
6   Overcast  Cool   Normal  Strong   Yes
7      Sunny  Mild     High    Weak    No
8      Sunny  Cool   Normal    Weak   Yes
9       Rain  Mild   Normal    Weak   Yes
10     Sunny  Mild   Normal  Strong   Yes
11  Overcast  Mild     High  Strong   Yes
12  Overcast   Hot   Normal    Weak   Yes
13      Rain  Mild     High  Strong    No

In [155]:
gr = df.groupby('label')

In [159]:
gr.apply(lambda x: print(x,'\n'))

   outlook  temp humidity    wind label
0    Sunny   Hot     High    Weak    No
1    Sunny   Hot     High  Strong    No
5     Rain  Cool   Normal  Strong    No
7    Sunny  Mild     High    Weak    No
13    Rain  Mild     High  Strong    No

     outlook  temp humidity    wind label
2   Overcast   Hot     High    Weak   Yes
3       Rain  Mild     High    Weak   Yes
4       Rain  Cool   Normal    Weak   Yes
6   Overcast  Cool   Normal  Strong   Yes
8      Sunny  Cool   Normal    Weak   Yes
9       Rain  Mild   Normal    Weak   Yes
10     Sunny  Mild   Normal  Strong   Yes
11  Overcast  Mild     High  Strong   Yes
12  Overcast   Hot   Normal    Weak   Yes

Empty DataFrame
Columns: []
Index: []

In [228]:
outlook_p = gr.apply(lambda x: x.groupby('outlook')['outlook'].count()/x.shape[0]).unstack(fill_value=0).T
outlook_p

label      No       Yes
outlook
Overcast  0.0  0.444444
Rain      0.4  0.333333
Sunny     0.6  0.222222

In [229]:
temp_p = gr.apply(lambda x: x.groupby('temp')['temp'].count()/x.shape[0]).T
temp_p

label   No       Yes
temp
Cool   0.2  0.333333
Hot    0.4  0.222222
Mild   0.4  0.444444

In [231]:
humidity_p = gr.apply(lambda x: x.groupby('humidity')['humidity'].count()/x.shape[0]).T
humidity_p

label      No       Yes
humidity
High      0.8  0.333333
Normal    0.2  0.666667

In [235]:
prob_mat = pd.concat([outlook_p,temp_p,humidity_p])
prob_mat

label      No       Yes
Overcast  0.0  0.444444
Rain      0.4  0.333333
Sunny     0.6  0.222222
Cool      0.2  0.333333
Hot       0.4  0.222222
Mild      0.4  0.444444
High      0.8  0.333333
Normal    0.2  0.666667